:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --border-color: #D9D9D9;
    --icon-color: #F5F5F5;
    --primary-color: #7CB5D5;
    --button-text-primary-color: #FFFFFF;
    --quote-color: #F2F2F2;
    --footer-background-color: linear-gradient(180deg, rgba(233, 247, 255, 0) 44.06%, #E9F7FF 100%);

    --dots-color: #BEE7FF;
}

html[data-theme='light'] {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --border-color: #D9D9D9;
    --icon-color: #F5F5F5;
    --primary-color: #7CB5D5;
    --button-text-primary-color: #FFFFFF;
    --quote-color: #F2F2F2;
    --footer-background-color: linear-gradient(180deg, rgba(233, 247, 255, 0) 44.06%, #E9F7FF 100%);

    --dots-color: #BEE7FF;
}

/* Masih belum di implement */

/* html[data-theme='dark'] { 
    --background-color: #01162F;
    --text-color: #F5F5F5
    --border-color: #D9D9D9;
    --icon-dolor: #B7E5FF;
    --primary-color: #7CB5D5;
    --quote-color: #F2F2F2;
    --footer-background-color: linear-gradient(180deg, rgba(0, 62, 97, 0) 25.83%, #003E61 100%);
} */

