* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

body > * {
    flex: auto;
}

#credentials-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: var(--background-color);
}

#credentials-form > #login-form {
    width: 100%;
    /* Ini biar bisa scroll di bagian formnya ajaa */
    overflow-y: scroll; 
}

#credentials-form > #login-form::-webkit-scrollbar {
    width: 20px;
    display: none;
}

#credentials-form > #login-form > .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 10%;
}

#credentials-form > #login-form > .container > .logo > svg {
    width: 180px;
}

#credentials-form > #login-form > .container > .login-form-instructions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#credentials-form > #login-form > .container > .login-form-instructions > h1{
    font-size: 40px;
    font-weight: 500;
}

#credentials-form > #login-form > .container > .login-form-instructions > p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

#credentials-form > #login-form > .container > form  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0;
}

#credentials-form > #login-form > .container > form > .field{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#credentials-form > #login-form > .container > form > .field > label{
    font-size: 16px;
    font-weight: 500;
}

#credentials-form > #login-form > .container > form > .field > input {
    border-radius: 5px;
    border: 0.5px solid var(--border-color);
    padding: 10px 15px;
}

#credentials-form > #login-form > .container > form > .other-login-purposes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#credentials-form > #login-form > .container > form > .other-login-purposes > label {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 5px;
}

#credentials-form > #login-form > .container > form > .other-login-purposes > label > input.remember-me{
    accent-color: var(--primary-color);
    width: 16px;
    height: 16px;
}

#credentials-form > #login-form > .container > form > .other-login-purposes > a{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}

#credentials-form > #login-form > .container > form > .other-login-purposes > a:hover{
    font-weight: 500;
}

#credentials-form > #login-form > .container > form > button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--primary-color);
    color: var(--button-text-primary-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#credentials-form > #login-form > .container > p.go-to-register-page {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

#credentials-form > #login-form > .container > p.go-to-register-page > a{
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}

#credentials-form > #login-form > .container > p.go-to-register-page > a:hover{
    font-weight: 500;
}

#carousel-login-register {
    background: linear-gradient(180deg, #B7E5FF 7.05%, rgba(169, 224, 255, 0) 71.67%);
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-credential-slide{
    display: none;
    z-index: 10;
    padding: 0px 30px;
}

.carousel-vector {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-vector > svg {
    width: 90%;
    z-index: 10;
}

/* Slideshow container */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-login-register > .ground{
    z-index: 1;
    position: absolute;
    margin-top: 600px;
}

/* Caption text */
.carousel-content {
    font-size: 15px;
    padding: 30px 0px;
    bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    z-index: 10;
}

.carousel-content > h2{
    font-size: 30px;
    font-weight: 500;
    z-index: 10;
}

.carousel-content > p.carousel-description {
    font-size: 16px;
    font-weight: 300;
    z-index: 10;
    line-height: 30px;
}

/* The dots/bullets/indicators */
.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: var(--dots-color);
    border-radius: 50%;
    display: flex;
    transition: background-color 0.6s ease;
    z-index: 10;
}

.dot.active,
.dot:hover {
    background-color: var(--primary-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 900px) {
    #credentials-form {
        width: 100%;
    }

    #credentials-form > #login-form > .container > .logo {
        margin: 0 auto;
    }

    #credentials-form > #login-form > .container > .login-form-instructions {
        text-align: center;
    }

    #carousel-login-register {
        display: none;
    }

    #credentials-form > #login-form > .container > form > .other-login-purposes > label,
    #credentials-form > #login-form > .container > form > .other-login-purposes > a,
    #credentials-form > #login-form > .container > p.go-to-register-page {
        font-size: 14px;
    }
    
    #credentials-form > #login-form > .container > form > .other-login-purposes > label > input.remember-me{
        width: 14px;
        height: 14px;
    }
    
}

@media screen and (max-width: 400px) {
    #credentials-form > #login-form > .container > form > .other-login-purposes > label,
    #credentials-form > #login-form > .container > form > .other-login-purposes > a,
    #credentials-form > #login-form > .container > p.go-to-register-page {
        font-size: 11px;
    }
    
    #credentials-form > #login-form > .container > form > .other-login-purposes > label > input.remember-me{
        width: 11px;
        height: 11px;
    }
}