footer#footer {
    background: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 5%;
    font-family: 'Poppins', sans-serif;
}

footer#footer .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

footer#footer .footer-top .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#footer .logo > svg.sirvice-logo {
    max-width: 200px;
    height: 100%;
}

footer#footer .footer-top .company-address {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    max-width: 800px;
}

footer#footer .footer-down {
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer#footer > .footer-down > .social-media > a {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--icon-color);
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    border: 2px solid transparent;
    transition: 0.3s;
}

footer#footer .footer-down .social-media a i {
    line-height: 0;
}

footer#footer .footer-down .social-media a:hover {
    background: var(--icon-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.3s;
}

footer#footer .footer-down .copyright {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    footer#footer .footer-down {
        flex-direction: column;
        gap: 20px;
    }
}